* {
    margin: 0px;
    padding: 0px;
}

/* header style */

header {
    max-height: 1322px;
    max-width: 1920px;
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.nav-li ul {
    display: flex;
    gap: 30px
}

.ul-nav li {
    list-style: none;
}

/* primary button  ...........................*/
.primary-btn {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: rgb(247, 134, 93);

}

/* brand_new-section........................start */
.brand_new-section {
    width: 50%;
    height: 50%;
    margin: 20px auto;
    /* align-items: center; */
    text-align: center;
    padding: 5px;
}

.brand-new-section-head {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;

}

p {
    margin: 5px;
}

.head-bg-img {
    width: 570px;
    margin: 20px auto;
}

.head-bg-img img {
    width: 100%;
    padding: 5px;
}

/* main section start */

/* main section 4 image */
.main-four-img-and-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    gap: 80px;

}

.main-four-img {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 10px;
    padding: 10px;
    

}

.main-four-img img {
    width: 242px;
    height: 242px;
    margin: 2px;
    

    border-radius: 8px;
}

.main-four-img-desc {
    width: 537px;
height: 304px;
margin-left: 10px;
}

/* feature-image section..............................*/


.feature-image {
    width: 1200px;
    height: auto;
    display: flex;
    margin: 20px auto;

    /* position: absolute; */

}

.div-line1 {
    display: flex;
}

.div-line {

    height: 40px;
    width: 5px;
    background-color: darkorange;
}


/* card-contain.......... */

.card-contain {
    width: 50%;
    margin: 20px;
    max-height: 100%;
    padding: 20px;
}

.card {
    box-shadow: 1px 1px 1px 1px rgb(170, 165, 165);
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
    text-align: left;
    /* overflow: scroll; */
}


/* feature-img .................. */
.feature-img1 {
    max-width: 400px;
    max-height: 900px;


}

.feature-img1 img {
    max-width: 300px;
    max-height: 600px;
    /* position: absolute; */
}

.feature-img1 img {
    max-width: 100%;
    background: red;
    position: relative;
    /* position: absolute; */
}

/* feature-image....... */


.featers-small-box {
    width: 142px;
    height: 100px;
    background-color: rgb(236, 105, 10);

    left: -20%;
    bottom: 50px;
    position: relative;
}

/* some facts */
.some-fact {
    width: 90%;
    height: 50%;
    text-align: left;
    margin: 0 auto;
    /* background-color: red; */
}

/* some-fact-container */

.some-fact-container {
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;

}

.contain {
    border: 1px solid rgb(233, 140, 75);
    width: 141.83px;
    height: 141.83px;
    margin: 4px auto;
    text-align: center;
    padding: 10px;
}

@keyframes slidein {
    0% {
        transform: rotate(360deg);
        transition: slidein 10s;
    }
}

.contain:hover {
    background-color: rgb(245, 160, 160);
    animation-duration: 3s;
    animation-name: slidein;
}




/* sponsor start................... */
.sponsor {
    max-width: 50%;
    height: 129px;

    margin: 20px auto;
    text-align: center;
}







.sponsor-icon img {
    width: 100px;




}


.sponsor-icon {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

    margin: 20px;
}


.footer {
    max-width: 80%;
    height: 100px;
    background-color: bisque;
    margin: 100px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.foot-p {
    padding-top: 20px
}

/* our project ................. */
.new-sec{
 text-align: center;
 border: 1px solid green;
 max-width: 80%;
 background-color:rgb(1, 5, 4);
 color: wheat;
 margin: 0 auto;
}

.our-project {
    display: flex;
    /* width: 80%;
    margin: 20px ; */
    margin-left: 20%;
    justify-content: center;
    align-items: center;
}

.container-img {
    width: 50%;
    height: auto;
}

.container-img img {
    width: 50%;
}

/* media query for mobile ..................................................................................*/
@media screen and (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;
    }

    .nav-li ul {
        margin: 2px;
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    .brand_new-section {
        width: 25%;
        height: 25%;

        /* align-items: center; */
        text-align: center;
        padding: 5px;
    }

    .head-bg-img {
        width: 70%;
        margin: 20px auto;
    }

    .primary-btn {
        width: 180px;
        height: 64px;
        border-radius: 8px;
        background-color: rgb(247, 134, 93);
    }

    /* /* main section 4 image */

    .main-four-img-and-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 70%;
        margin-top: 10px;
        text-align: center;
    }

    .main-four-img {
        display: flex;
        flex-direction: column;

        gap: 20px;
        width: 40%;
        margin: 10px;
    }

    p {
        margin: 20px;
        padding: 10px;
    }

    /* feature image */
    /* .feature-image{
    max-width: 1000px;
    max-height: 1059px; ;
    /* background-color: red; */

    /* feature-image section..............................*/


    .feature-image {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        padding: 10px;
        /* border: 2px solid rgb(129, 129, 113); */
        /* position: absolute; */

    }

    .div-line1 {
        display: flex;
    }

    .div-line {

        height: 40px;
        width: 5px;
        background-color: rgb(247, 125, 111);
    }


    /* card-contain.......... */

    .card-contain {
        width: 50%;
        margin: 20px;
        max-height: 100%;
        padding: 20px;
    }

    .card {
        box-shadow: 1px 1px 1px 1px rgb(170, 165, 165);
        padding: 10px;
        margin: 10px;
        width: 100%;
        height: 100%;
        text-align: left;
        overflow: scroll;
        overflow-x: hidden;
    }


    /* feature-img .................. */
    .feature-img1 {
        max-width: 100%;
        max-height: 800px;


    }

    .feature-img1 img {

        max-height: 600px;

    }

    .feature-img1 img {
        max-width: 100%;
        background: red;

        /* position: absolute; */
    }

    /* feature-image....... */


    .featers-small-box {
        width: 142px;
        height: 100px;
        background-color: rgb(236, 105, 10);
        top: 20px;
        left: 20px;


    }



    /* some-fact-container */

    .some-fact-container {
        width: 100%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

    }

    .contain {
        border: 1px solid rgb(233, 140, 75);
        max-width: 100%;
        max-height: 100%;
        margin: 4px auto;
        text-align: center;
        padding: 10px;
    }

    @keyframes slidein {
        0% {
            transform: rotate(360deg);
            transition: slidein 10s;
        }
    }

    .contain:hover {
        background-color: rgb(245, 160, 160);
        animation-duration: 3s;
        animation-name: slidein;
    }



    /* sponsor start................... */
    .sponsor {
        max-width: 50%;
        height: 100%;

        margin: 20px auto;
        text-align: center;
    }







    .sponsor-icon img {
        width: 100px;

        height: 100%;


    }


    .sponsor-icon {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;

        margin: 20px;
    }

    /* our project ................. */

    .our-project {
        display: flex;
        /* width: 80%;
    margin: 20px ; */
        flex-direction: column;

        /* justify-content: center;
    align-items: center; */
    }

    .container-img {
        width: 50%;
        height: auto;
    }

    .container-img img {
        width: 100%;
    }

}